{#
  Title: Why Choose Us & Logos
  Description: Why choose us on the left, logos on the right
  Category: formatting
  Icon: columns
  Keywords: why choose us logos
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

<div class="container relative grid grid-cols-2 gap-8">

	<div class="p-8 bg-red-300">
		{% include "_components/why-choose-us.twig" %}
	</div>

	<div class="shadow-xl bg-gradient-to-b from-gray-100">
		{% include "_components/logos.twig" %}
	</div>

</div>
