<span class='ld-phonenumber'>
    {# If the calltag is set, show the calltag #}
    {% if calltag %}
        Call {{ location.location }} on
    {% endif %}

    <a href="tel:{{ number }}" class="">{{ number }}</a>  

</span>
